git/.gitconfig-personal
git/.gitconfig-work
jj/.config/jj/repos/**/
mise/.config/litecli/history
mise/.config/litecli/log
neomutt/.config/neomutt/keys
zsh/.zsh.post/librewolf.zsh

# Exclude files starting with specific prefixes, such as `[draft].`
\[draft\].*
\[local\].*
\[personal\].*
\[work\].*

