git/.gitconfig-personal
git/.gitconfig-work
litecli/.config/litecli/history
litecli/.config/litecli/log
neomutt/.config/neomutt/keys
zsh/.zsh.post/librewolf.zsh

# Exclude files starting with specific prefixes, such as `[draft].`
\[draft\].*
\[local\].*
\[personal\].*
\[work\].*

