dev/.config/mise/github_tokens.toml
dev/.config/litecli/history
dev/.config/litecli/log
neomutt/.config/neomutt/keys
shell/.config/jj/repos/**/
shell/.gitconfig-personal
shell/.gitconfig-work

# Exclude files starting with specific prefixes, such as `[draft].`
\[draft\].*
\[local\].*
\[personal\].*
\[work\].*

